@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');

:root {
  --primary-color: #3B3B98;
  --btn-color: #6262ad;
  --btn-hover: #4f4fa2;
}

body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

/* Custom Button */

.bike-btn {
  background-color: var(--btn-color);
  color: #fff;
}

.bike-btn:hover {
  background-color: var(--btn-hover);
  color: #fff;
}

/* Custom Background Color */

.brand-color {
  background: var(--primary-color);
}